{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {% include 'cart.html.twig' %}

    <br><br><br>

    {% include 'pages/pages.html.twig' with {'pages': pages} %}

    <br><br><br>

    {% for product in products %}
        {# @var product \App\Entity\Product #}
        <div class='product'>
            <a href="{{ path('product', {'product': product.id}) }}">
                <img src='{{ asset('build/' ~ (product.image ?: 'img/no-image.png')) }}' alt='{{ product.name }}'>
                <div class='product-name'>{{ product.name }}</div>
                <div class='product-price'>
                    <span class='amount'>{{ product.price }}</span>
                    <span class='currency'>$</span>
                </div>
            </a>
            <button class='button-buy'>Buy</button>
        </div>
    {% endfor %}
{% endblock %}
