{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <br>

    <div class="container">
        {{ product.name }}, {{ product.price }}$
        <img src="{{ asset('/build/' ~ (product.image ?: 'img/no-image.png')) }}" alt="{{ product.name }}" width="300px">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#feedback">Feedback</a></li>
            <li><a data-toggle="tab" href="#characteristics">Characteristics</a></li>
        </ul>
        <div class="tab-content">
            <div id="feedback" class="tab-pane fade in active">
                {{ form_start(feedback_form) }}
                {{ form_widget(feedback_form) }}
                {{ form_end(feedback_form) }}

                {% for feedback in product.feedbacks %}
                    <div>
                        <div>{{ feedback.username }}</div>
                        <div>{{ feedback.time|date('Y-m-d H:i:s') }}</div>
                        <div>{{ feedback.text }}</div>
                    </div>
                {% endfor %}
            </div>
            <div id="characteristics" class="tab-pane fade">
                {% for characteristicValue in product.characteristicValues %}
                    <div>
                        <div>{{ characteristicValue.characteristic.name }}</div>
                        <div>{{ characteristicValue.value }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
